*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid-nav{
  background-color: #b15587;
 
  
}



.menu-Div h1:hover{
  
  cursor: pointer;
  transition: all 0.2s ease;
  color: #fff;
}

.about_user_div ul li{
  list-style: none;
}
.about_user_div ul li a{
  text-decoration: none;
  font-size: 2.5vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #fff;
}



.navbar_Div{
  width: 100vw;
  height: 100%;
  background-color: #c975a3;
  position: fixed;
  top: 0;
  left: -150rem;
  z-index: 999;
  border-bottom-right-radius: 0.5rem;
  transition: all 0.7s ease;
}

.navbar_Div h1{
  position: absolute;
  top: 1rem;
  right: 0.2rem;
}

.navbar_Div h1:hover{
  color: #fff;
  cursor: pointer;
}



.navbar_Div li{
  width: 100vw;
  list-style: none;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-block: 3rem;

}

.navbar_Div li:hover{
  color: #fff;
  cursor: pointer;
}

.brand{
  font-size: 4vw;
  color: #fafaf5 !important;
}


.container-fluid-img{
  margin-top: 2rem;
 
}




.container-fluid-img button{
  background-color: transparent;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

.container-fluid-img button h1{
  font-size: 7vw;
  color: #292828;
  
}
.container-fluid-img button h1:hover{
  scale: 1.1;
  color: #000;
  
}

.image_Box {
  height: 35vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 5rem;
  
}



.image_Box  img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.product-Box{
  background-color: transparent;
  margin: 1rem;
  
  
}

.product-Box div{
  width: 100%;
 
  padding: 2rem;
  object-fit: cover;
  
} 

.product-Box img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-radius: 40%;
  filter: drop-shadow(0.3em 0.3em 0.1em #555);
  transform: rotate(-20deg);
  transition: all 0.3s ease;
 
}

.product-Box .product-Box-mini {
  width: 70%;
  border-radius: 50% !important;
  background-color: #f7cc9e;
 
}

.product-Box-mini img:hover{
 
  transform: rotate(0deg);
  filter: drop-shadow(0.5em 0.5em 0.1em #555);
  scale: 1.5;
}


.description_Box{

  padding: 0.5rem 0;
  padding-inline: 1rem !important;
}

.para1 h1{
  color: rgb(58, 42, 42);
  font-weight: bolder;
  font-size: 5vw !important;
  
}

.para1 img{
  width: 5vw;
 
}
.para1 h4{
  width: 100%;
  height: 100%;
  font-size: 2vw !important;
}
.para1{
background-color: #FFF5B0;
}

.para2{
  height: 50vw !important;
  background-color: #833f7b;
  position: relative;

}

.para2 .para2_first_div{
  position: absolute;
}

.para2 .para2_second_div{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: scroll;
  height: 650px;
  position: absolute;
  top: 8vw;
}

.para2 .para2_second_div img{
  padding-top: 8vw;
  width: 40%;
 
}

.para2 .para2_second_div::-webkit-scrollbar {
  width: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
 
}


.para2 .para2_second_div img{
  margin-bottom: 10rem !important;
}


.para2 h1{
  color: rgb(252, 252, 252);
  font-weight: bolder;
  font-size: 5vw !important;
}

.products_heading span{
  font-size: 3.5vw;
  padding: 5px 10px;
  border-bottom: 3px solid #f9fffd;
  font-weight: bold;
  color: #522a2a;
}

.marquee_div button{
  width: 100%;
  padding: 5px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 2vw;
  border-radius: 30px;
  color: #b596ee;
  transition: all 0.3s ease;
  filter: drop-shadow(0.3em 0.3em 0.1em #BDA3EF);
}

.marquee_div button:hover{
  filter: none !important;
  scale: 0.9 !important;
}

.marquee_img_div{
  width: 350px;
  height: 250px;
}
.marquee_img_div img{
  width: 100%;
  height: 100%;
}

.marquee_div .marquee_control{
  overflow: hidden;
  
}

.takehome_Btn{
  color: #3af5fc !important;
  filter: drop-shadow(0.2em 0.2em 0.1em #3af5fc) !important;
}


.cafe_image_container div img{
  width: 100%;
  height: 100%;
}

.video_image_container div video{
  width: 100%;
  height: 100%;
}

.video_image_container  div h1{
  font-size: 4vw;
  padding: 5px 10px;
  border-bottom: 3px solid #f9fffd;
  font-weight: bold;
  color: #522a2a;
}


@media (max-width:1268px) {
  .product-Box h2{
    font-size: 2vw;
    font-weight: bold;
  }
  .product-Box .description_Box{
    padding-inline: 1rem !important;
  }
  .product-Box h3{
    font-size: 2vw;
    text-align: center;
  
  }
  .product-Box .product-Box-mini{
    height: 20vw;
  }
  .para2 .para2_second_div img{
    width: 35%;
  }
  .para2 .para2_second_div::-webkit-scrollbar {
    width: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
   
  }
 .para2 .para2_second_div{
  height: 43vw;
 }
 .marquee_div{
  height: auto;
 }
 .marquee_div .marquee_img_div img{
  width: 20vw;
 }
 .marquee_div button{
  font-size: 1.5vw !important;
 }
}


@media (max-width:992px) {
  .navbar_Div{
    width: 20vw !important;
  }
  .navbar_Div .mini{
    justify-content: start !important;
  }
  .navbar_Div li{
    font-size: 2vw !important;
  }
  .container-fluid-img button{
    box-shadow: none; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-fluid-img button h1{
    font-size: 9vw;
  }
  .container-fluid-img .image_Box{
    border-radius: 5rem;
  }
  .description_Box{
    height: auto!important;
    padding-inline: 1rem !important;
  }
  .description_Box h2{
    font-size: 1.6vw !important;
  }
  .product-Box h3{
    font-size: 1.8vw !important;
  }
  .marquee_div .marquee_img_div img{
    width: 20vw;
   }
   .marquee_div button{
    font-size: 1.7vw !important;
    padding: 0.5rem;
   }
   .marquee_img_div{
    width: 30vw;
    height: 20vh;
   }
   .product-Box .product-Box-mini{
    height: auto;
    padding: 0.3rem !important;
  }
  .video_image_container  div h1{
    font-size: 3.5vw !important;
   
  }
  
  
}


@media (max-width:768px) {
  .brand{
    font-size: 3.5vw ;
    font-weight: bold;
  }
  .product-Box .product-Box-mini{
    width: 90%;
  }
  .product-Box .description_Box h2{
    font-size: 2vw !important;
    padding-block: 0.3rem !important;
  }
  .product-Box h3{
    font-size: 2vw !important;
  }
  .para1 div h4{
    font-size: 3vw !important;
  }
  .para1 div img{
    width: 20% !important;
  }
  .video_image_container  div h1{
    font-size: 3.6vw !important;
   
  }
}



@media (max-width:568px) {
  .about_user_div ul li a{
    font-size: 3.5vw !important;
  }
  .brand{
    font-size: 5vw !important;
  }
  .navbar_Div{
    width: 25vw !important;
  }
  .navbar_Div .mini{
    justify-content: start !important;
  }
  .navbar_Div li{
    font-size: 2.8vw !important;
  }
  .products_heading span{
    font-size: 5vw !important;
  }
  .product-Box .description_Box h2{
    font-size: 2.6vw !important;
  }
  .product-Box h3{
    font-size: 3vw !important;
  }
  .para1 div h4{
    font-size: 3vw !important;
  }
  .para1 div img{
    width: 20% !important;
  }
  .marquee_div button{
    font-size: 3vw !important;
    padding: 0.5rem;
   }
   .video_image_container  div h1{
    font-size: 5vw !important;
   
  }
}

@media (max-width:468px) {
  .navbar_Div{
    width: 
    100vw !important;
  }
  .navbar_Div .mini{
    justify-content: start !important;
  }
  .navbar_Div li{
    font-size: 7vw !important;
    
  }
  .product_box_parent{
    flex-direction: row !important;
    
  }
  .marquee_div button{
    font-size: 2.8vw !important;
    padding: 0.5rem;
   }
   .video_image_container  div h1{
    font-size: 4.6vw !important;
   
  }
}


@media (max-width:415px) {
  .about_user_div ul li a{
    font-size: 3.4vw !important;
  }
  .brand{
    font-size: 4.8vw !important;
  }
  .navbar_Div{
    width: 
    100vw !important;
  }
  .navbar_Div .mini{
    justify-content: start !important;
  }
  .navbar_Div li{
    font-size: 7vw !important;
    
  }
  .product_box_parent div{
    margin: 0 !important;
    margin-top: 0.5rem !important;
  }
  .product-Box .description_Box h2{
    font-size: 3vw !important;
  }
  .marquee_div button{
    font-size: 2.5vw !important;
    padding: 0.5rem;
   }
   .marquee_img_div{
    width: 30vw;
    height: 10vh;
   }
   .marquee_control h5{
    font-size: 3vw !important;
   }
   .container-fluid-img .image_Box{
    height: 50vw !important;
    border-radius: 5rem;
   }
   .container-fluid-img button h1{
    font-size: 15vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
   }
   .container-fluid-img{
    margin-top: 0.5rem !important;
   }
   .product_container_fluid{
    margin-top: 1.5rem !important;
   }
   .product-Box .description_Box{
    padding: 0.1rem 5px !important;
   }
   .product-Box .description_Box h2{
    font-size: 2.7vw !important;
    margin-bottom: 0 !important;
   }
   .product-Box .product-Box-mini{
    width: 100% !important;
   }
   .product-Box .product-Box-mini img{
    width: 80% !important;
   }
   .para1 h1{
    font-size: 7vw !important;
   }
   .para2{
    height: 70vh !important;
    background-color: #833f7b;
    position: relative;
  
  }
  
  .para2 .para2_first_div h1{
    font-size: 8vw !important;
  }

  
.para2 .para2_second_div{
 
  width: 100%;
  overflow: scroll;
  height: 420px;
  position: absolute;
  top: 12vw;
}

.para2 .para2_second_div img{
  padding-top: 8rem;
  width: 80%;
 
}

.para2 .para2_second_div::-webkit-scrollbar {
  width: 0px !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  -ms-overflow-style: none !important;
 
}
.video_image_container  div h1{
  font-size: 4.8vw !important;
  border-bottom: 2px solid #fff;
 
}
  
}